div {
  background-color: lightgreen;
  width: 400px;
  border: 9px solid black;
  padding: 40px;
  margin: 20px;
  text-align: center;
  font-size: 3em;
}

h1 {
  text-align: center;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  height: 100vh;    
  margin: 0;
  text-align: center;
}
